.search-banner {
  background-color: #FFD600; /* Yellow from The Open Championship */
  color: #060645; /* Dark blue from The Open Championship */
  padding: 2px 0px;
  border-radius: 12px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin: 0px auto;
  width: 100%;
  margin-top: 0px;
  border: 2px solid white;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.search-container {
  display: flex;
  justify-content: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.search-input-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  display: flex;
  align-items: center;
  
}

.search-input {
  width: 100%;
  padding: 12px 12px 12px 45px; /* Extra padding on the left for the icon */
  border-radius: 12px;
  border: 2px solid white;
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem;
  outline: none;
  
}

.search-input::placeholder {
  color: #808080;
}

.search-icon {
  position: absolute;
  left: 15px;
  color: #000000;
  pointer-events: none;
}
