.app-container {          /* Main container for the app */
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.welcome-box {
  background-color: #FFD600; /* Yellow from The Open Championship */
  color: #060645; /* Dark blue from The Open Championship */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 12px;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  margin: 0px auto;
  width: 100%;
  margin-top: 15px;
  box-sizing:border-box;
  border: 2px solid white
}

.score-banner {
  background-color: #FFD600; /* Yellow from The Open Championship */
  color: #060645; /* Dark blue from The Open Championship */
  padding: 2px 0px;
  padding-top: 25px;
  border-radius: 12px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin: 0px auto;
  width: 100%;
  margin-top: 0px;
  border: 2px solid white;
  min-height: 45px;
  margin-bottom: 15px;
}